CompileFlags:
  Add: [-Wall, -Wextra, -Werror]

Diagnostics:
  ClangTidy:
    Add:
      - performance-*
      - bugprone-*
    Remove:
      - "readability-identifier-length"
      - "readability-implicit-bool-conversion"
      - "readability-isolate-declaration"
      - "readability-magic-numbers"
      - "bugprone-easily-swappable-parameters"

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
Index:
  Background: Build
